.CapturedPiece {
  flex-basis: 25%;

  @media screen and (max-width: 1000px) {
    flex-basis: 12.5%;
  }
}

.CapturedBlack {
  width: 100%;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  align-content: flex-end;
}
