.Pieces {
  box-sizing: border-box;
  width: 275px;
  height: 600px;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;

  @media screen and (max-width: 1000px) {
    width: 600px;
    height: auto;
  }
}

.Disabled {
  opacity: 0.5;
  pointer-events: none;
}
