@import "src/styles/colours.scss";

.Container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.Primary {
    display: flex;
    flex-direction: column;
}

.Card {
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    margin: 10px;
    padding: 15px;
    background-color: darkgrey;
}

p, label, button, select, input {
    font-family: "Helvetica";
    font-size: 20px;
    margin: 0px;
}

label {
    display: inline-block;
}

select, button, input {
    border-radius: 5px;
    padding: 5px 10px;
    color: $lightest;
}

select, input {
    background-color: $dark;
    border: 1px solid $dark;
}

button {
    background-color: $darker;
    border: 1px solid $darker;

    &:hover {
        background-color: lighten($darker, 5%);
    }
}