@import "src/styles/colours.scss";

.Board {
  width: 600px;
  border-spacing: 0;
  table-layout: fixed;
  margin: 10px;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.Square {
  overflow: hidden;
  width: 75px;
  height: 75px;
  margin: 0;
  padding: 0;
  text-align: center;

  &-Dark {
    background-color: $dark;
  }

  &-Light {
    background-color: $light;
  }

  &-Selected {
    background-color: $selected;
  }

  &-Valid.Square-Dark {
    background-color: mix($valid, $dark, 75%);
  }

  &-Valid.Square-Light {
    background-color: mix($valid, $light, 75%);
  }
}
